@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@plugin "daisyui" {
  themes: none;
}
@plugin "daisyui/theme" {
  name: "kindDropTheme";
  default: true;
  --color-primary: "#060a31";
  --color-accent: #f40000;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
